<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main class="main">
    <header>
      <img src="https://pluspng.com/img-png/cat-and-dog-png-no-background-cat-and-dog-png-image-472.png" class="hero-image">
      <h1 class="hero-title">Login to see your pet's details</h1>
    </header>

    <div class="sublayout-centered">

      <form action="/login" method="post" class="login-form">
        <input required class="login-input" placeholder="Username" type="text" name="username">
        <input required class="login-input" placeholder="Password" type="password" name="password">

        <button class="login-btn">Log in</button>
      </form>

      <a href="/login/new"><button class="add-button">+</button>&ensp; Create New User</a>

    </div>
    
  </main>
  
  <script src="/login.js"></script>
</body>
</html>