*{
    box-sizing: border-box;
}
body {
    background-image: url(https://petstockimages.blob.core.windows.net/blog/blog-catdog.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main {
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, .8);
    width: 80%;
    margin: 0 auto;
    padding: 10px 30px;
}



.login-input, .login-btn {
    display: block;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 1rem auto;
    border-radius: 2rem;
    border: none;
    width: 400px;
}
.login-btn {
    margin-top: 2.5rem;
    background-color: rgb(158, 158, 158);
    transition: all 0.5s linear;
}
.login-btn-passed {
    box-shadow: 0 0 10px grey;
    background-color: rgb(230, 150, 75);
}
.hero-image {
    display: flex;
    margin: 0 auto;
}
.hero-title {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
}


.layout_1_1 {
    margin: 20px auto;
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.layout_3_7 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 2rem;
}
.sublayout {
    padding: 5px;
}
.sublayout-centered {
    text-align: center;
}
.sublayout-horizontal {
    display: flex;
    width: 800px;
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: rgb(230, 150, 75); 
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: rgb(241, 134, 34); 
}


.status-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-element {
    margin: 0 5px;
    border: 0;
    padding: 0;
    background: none;
    font-size: 15px;
}



.card {
    min-width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    box-shadow: 2px 2px 2px rgb(230, 150, 75);
    background-color: rgba(255, 255, 255, 0.7);
}
.card-portrait {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(230, 150, 75);
    cursor: pointer;
}
.card-button {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(230, 150, 75);
    transition: all 0.2s linear;
}
.card-button:hover {
    box-shadow: 0 0 10px rgb(230, 150, 75);
}



.pet-subtext, .pet-input, .pet-button {
    margin-left: 15px;
}
.pet-input {
    display: block;
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid rgb(230, 150, 75);
    transition: all 0.2s linear;
}
.pet-input:focus, .pet-input:hover {
    padding-left: 10px;
    border-left: 3px solid rgb(230, 150, 75);
}
.pet-button {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    background-color: rgb(230, 150, 75);
    transition: all 0.2s linear;
}
.pet-button:hover {
    box-shadow: 0 0 10px rgb(230, 150, 75);
}



.appt-subtext {
    margin-top: 5px;
    margin-bottom: 5px;
}



.add-button {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(230, 150, 75);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
}

.button-cancel {
    background-color: rgb(250, 130, 130);
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

form {
    transition: all 0.2s ease-out;
}
ul {
    padding-left: 15px;
}
li {
    list-style-type: none;
}
h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}